<% content_for(:title, 'レシピ一覧') %>
<div class="notice"><%= flash[:notice] %></div>
<div class="container">
  <h1 class="d-inline-block">レシピ一覧</h1>
  <h3 class="d-inline-block ml-3"><%= @recipes.total_entries %>件</h3>
  <div class="index-search d-inline-block">
    <%= search_form_for @q do |f| %>　　
      <div class="recipe-search"><%= f.search_field:title_or_description_or_ingredients_ingredient_cont, placeholder:"トッピングを探す", class:"form-control search-form" %></div>
      <div class="recipe-search"><%= f.submit '探す', class: "btn btn-light form-button recipe-search" %></div>
    <% end %>
  </div>
  <%= render "shared/recipes_index", recipes: @recipes %>
  <%= paginate @recipes %>
</div>
<%= render "shared/expand_less" %>
