<div class="container">
  <h1>新規レシピ投稿</h1>
  <%= form_with model: @recipe, local:true do |f| %>
    <table class ="new-recipe">
      <%= render 'shared/error_messages', object: f.object %>
      <tr class="new-title">
        <th><%= f.label :title, "アレンジ名" %></th>
        <td><%= f.text_field :title, class: "form-control" %></td>
      </tr>
      <tr class="new-description">
        <th><%= f.label :description, "一言" %></th>
        <td><%= f.text_area :description, class: "form-control" %></td>
      </tr>
      <tr class="new-image">
        <th><%= f.label :image, "写真" %></th>
        <td><%= f.attachment_field :image %></td>
      </tr>
    </table>
    <%= f.submit '投稿', class: "btn btn-light" %>
  <% end %>
</div>
<%= render "shared/expand_less" %>
