<div class="container">
  <div class="notice"><%= flash[:notice] %></div>
  <h1><%= @recipe.title %></h1>
    <%= link_to '編集する', edit_recipe_path(@recipe.id) %>
    <%= link_to '削除する', recipe_path(@recipe.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <%= @recipe.description %>
    <div class="show-recipe">
      <div class="top-show">
        <div class="recipe-image">
          <% if @recipe.image.present? %>
            <%= attachment_image_tag @recipe, :image, format: 'jpeg', size: '480x270' %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: '480x270' %>
          <% end %>
        </div>
        <% @recipe.ingredients.each do |ingredient|%>
          <div class="ingredient">
            <p><%= ingredient.ingredient %></p>
            <p class="quantity"><%= ingredient.quantity %></p>
          </div>
        <% end %>
      </div>
      <div class="bottom-show">
      </div>
    </div>
    <%= render "shared/favorite", recipe: @recipe %>
    <%= render "recipes/comment" %>
</div>
<%= render "shared/expand_less" %>
