<div class="container">
  <div class="notice"><%= flash[:notice] %></div>
  <h1><%= @recipe.title %></h1>
    <div class="show-recipe">
      <div class="top-show">
        <div class="recipe-image">
          <% if @recipe.image.present? %>
            <%= attachment_image_tag @recipe, :image, format: 'jpeg' %>
          <% else %>
            <%= image_tag 'no_image.jpg'%>
          <% end %>
        </div>
        <div class="recipe-description">
          <p><%= @recipe.description %></p>
        </div>
      </div>
    </div>
    <%= render "shared/favorite", recipe: @recipe %>
  <%= link_to '編集する', edit_recipe_path(@recipe.id) %>
  <%= link_to '削除する', recipe_path(@recipe.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <%= link_to '戻る', :back %>
</div>
<%= render "shared/expand_less" %>
