<% content_for(:title, "#{@user.name}さんのマイページ") %>
<div class="user-main">
  <%= render "users/user_menu", user: @user %>
  <div class="user-right">
    <div class="notice"><%= flash[:notice] %></div>
    <h1>マイページ</h1>
    <div class="user-content">
      <div class="user-content-left">
        <div class="user-name">
          <p>ユーザー名</p>
          <p class="border"><%= @user.name %></p>
        </div>
        <div class="user-email">
          <p>メールアドレス</p>
          <p class="border"><%= @user.email %></>
        </div>
      </div>
      <div class="user-content-right">
        <div class="user-profile">
          <p>自己紹介</p>
          <p class="border"><%= @user.profile %></p>
        </div>
        <div class="user-processing">
          <%= link_to 'プロフィールを編集する', edit_user_path(@user.id) %><br>
          <%= link_to 'アカウントを削除する',   user_path(@user.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </div>
      </div>
    </div>
    <div class="user-recipe">
      <%= render "users/user_posted",    {user: @user, posts_recipes: @posts_recipes} %>
      <%= render "users/user_favorites", {user: @user, favorites: @favorites} %>
    </div>
  </div>
</div>
