<div class="favorite">
  <% if user_signed_in? %>
    <% if recipe.favorited_by?(current_user) %>
      <%= link_to recipe_favorite_path(recipe), method: :delete, class: "favorite_btn" do %>
        <p>♥<%= recipe.favorites.count %></p>
      <% end %>
    <% else %>
      <%= link_to recipe_favorites_path(recipe), method: :post, class: "favorite_btn" do %>
        <p>♡<%= recipe.favorites.count %></p>
      <% end %>
    <% end %>
  <% else %>
    <p>♡<%= recipe.favorites.count %></p>
  <% end %>
</div>
